appdirs
atomicwrites
backports.weakref
clyent
et-xmlfile
fastapi
fonttools
gunicorn
h11
inflection
jsonpointer
munkres
openpyxl
patsy
ply
protobuf
pyasn1-modules
PyDispatcher
pyls-spyder
PyQt5
PyQtWebEngine
python-lsp-jsonrpc
starlette
ucimlrepo
uvicorn
webencodings
